.rampart-one-regular {
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: maruikoasu;
  src: url('/assets/fonts/star.woff2');
}

@font-face {
  font-family: sharp;
  src: url('/assets/fonts/sharp.woff2');
}

@font-face {
  font-family: mihiPixelmoji;
  src: url('/assets/fonts/mihiPixelmoji.woff2');
}

@font-face {
  font-family: pop;
  src: url('/assets/fonts/pop.woff2');
}