select {
    font-family: mihiPixelmoji;
    letter-spacing: 2px;
    text-align: center;
    width: 500px;

    option {
        letter-spacing: 2px;
    }
}

button {
    font-family: mihiPixelmoji;
}