select {
    font-family: mihiPixelmoji;
    letter-spacing: 2px;
    text-align: center;
    width: min(500px, 72vw);
    font-size: clamp(.75rem, 1.8vw, 1rem);

    option {
        letter-spacing: 2px;
    }
}

button {
    font-family: mihiPixelmoji;
    min-width: 96px;
}
