* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}

audio {
  display: none;
}

#media {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
}